<section  class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          
          <div class="card rounded-3 text-black">
            
            <div class="row g-0">
              <div *ngFor="let alert of alerts">
                <alert  [type]="alert.type" [dismissible]="dismissible"  [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                  {{ alert.msg }}
                </alert>
              </div>
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                    
                  <div class="text-center">
                    <img src="../../../assets/PetStore_logo.png"
                      style="width: 275px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Gestão Para Pet Shops</h4>
                  </div>
  
                  <form>
                    <p>Por favor, Fazer login em sua conta!</p>
  
                    <div class="form-outline mb-4">
                      <input name="username"  [(ngModel)]="login.username" type="email" id="form2Example11" class="form-control"
                        placeholder="" />
                      <label class="form-label" for="form2Example11">Usuário</label>
                    </div>
                    
  
                    <div class="form-outline mb-4">
                      <input name="senha" [(ngModel)]="login.senha" type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Senha</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button (click)="validarLogin()"  class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Entrar</button>
                      <p><a class="text-muted" href="#!">Esqueceu a senha?</a></p>
                    </div>  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Quem nós somos.</h4>
                  <p class="small mb-0">O sistema web petStore é uma ferramenta altamente eficiente e confiável para gerenciar todas 
                    as atividades relacionadas ao seu negócio. Com uma interface intuitiva e amigável, o sistema facilita o cadastro 
                    e o acompanhamento de clientes, o controle de estoque, a agenda de serviços e até mesmo o registro de vendas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>