<h1>Cadastro de pessoa</h1>
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome completo">
            </div>
            <div class="col-3">
                <label for="exampleInputEmail1">CPF</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CPF/CNPJ">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-1">Cadastrar</button>
  </form>